/* line 1, ../compass/sass/styles.scss */
body {
  color: #263D42 !important;
  background-color: #80CED7;
}
/* line 4, ../compass/sass/styles.scss */
body .navbar {
  margin-top: 10px;
  background-color: #CCDBDC;
  border: solid 1px #fff;
}
/* line 8, ../compass/sass/styles.scss */
body .navbar .navbar-right {
  margin-right: 5px;
}
/* line 11, ../compass/sass/styles.scss */
body .navbar .btn-info,
body .navbar .btn-info:active,
body .navbar .btn-info:visited,
body .navbar .btn-info:focus {
  background-color: #63C7B2;
  border-color: #63C7B2;
}
/* line 18, ../compass/sass/styles.scss */
body .navbar .btn-info:hover {
  background-color: #59B29F;
}
/* line 22, ../compass/sass/styles.scss */
body .jumbotron {
  background-color: #CCDBDC;
  border: solid 1px #fff;
}
/* line 25, ../compass/sass/styles.scss */
body .jumbotron .header {
  display: inline-block;
  vertical-align: middle;
}
/* line 29, ../compass/sass/styles.scss */
body .jumbotron img {
  border-radius: 50%;
  width: 200px;
  border: solid 1px #fff;
  margin-right: 30px;
}
/* line 36, ../compass/sass/styles.scss */
body .container {
  padding-left: 0px;
}
/* line 39, ../compass/sass/styles.scss */
body .blogs {
  background-color: #fff;
  border: solid 1px #8E6C88;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 20px;
}
/* line 46, ../compass/sass/styles.scss */
body .navbar-form {
  padding-right: 0px;
}
